{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Checkout</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container py-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="mb-4 text-center">Checkout Summary</h2>

      {% if cart %}
      <table class="table table-bordered text-center align-middle">
        <thead class="table-secondary">
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price (₹)</th>
            <th>Subtotal (₹)</th>
          </tr>
        </thead>
        <tbody>
          {% for item in cart.items.all %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="text-end">
        <p><strong>Total Price:</strong> ₹{{ cart.total_price }}</p>
        <p><strong>Total Discount:</strong> ₹{{ cart.total_discount }}</p>
        <h4><strong>Final Amount:</strong> ₹{{ cart.final_amount }}</h4>
      </div>

      <div class="text-center mt-4">
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-success px-5">Confirm Order</button>
          <a href="{% url 'cart_add_items' %}" class="btn btn-outline-secondary ms-2">Back to Cart</a>
        </form>
      </div>

      <div class="text-center mt-4">
        <form method="post">
          {% csrf_token %}
          <input type="text" name="coupon_code" class="px-5" placeholder="Enter Discount Coupon">
          <button type="submit" class="btn btn-primary">Apply</button>
        </form>

        {%if discount_applied %}
          <p class="text-sucess">Coupon Applied! Discount Total: {{discount_total}}</p>
        {% elif  invalid_coupon %}
          <p class="text-danger">Invalid Coupon Code.</p>
        {%endif%}
      </div>
    

      {% else %}
      <p class="text-center text-muted">Your cart is empty.</p>
      {% endif %}

      <div class="text-center">
        <p>Grand Total: {{ cart.final_amount }}</p>
        {% if coupon %}
            <p>Coupon {{ coupon.coupon_code }} applied! Final Total: {{ final_total }}</p>
        {% else %}
            <p>Final Total: {{ final_total }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

</body>
</html>
